a:link, a:hover, a:active {
  text-decoration: none;
}

p {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  border-bottom: 1.5px solid #26a69a;
  position: fixed;
  width: 100%;
  height: 7.5vh;
  background: white;
}
nav .nav_wrap {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
nav .nav_wrap .logo {
  background: url("../img/recipetop_logo.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 6.5vh;
}
nav .nav_wrap .nav-list {
  display: flex;
  height: 7.5vh;
  width: 50%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  list-style: none;
  font-family: "Raleway", sans-serif;
}

.nav-links {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.home, .about {
  height: 100vh;
  width: 100%;
}

.home-content {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.home-content h1 {
  font-size: 50px;
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9;
}
.home-content p {
  font-size: 20px;
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9;
}

.home {
  background-image: url("../img/tt.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about_container {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}
.about_container .about_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  border: 1px solid #80cbc4;
  border-radius: 25px;
  -webkit-box-shadow: 1px 7px 16px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 7px 16px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 7px 16px -9px rgba(0, 0, 0, 0.75);
  background-image: linear-gradient(60deg, #96deda 0%, #73f1eb 100%);
}
.about_container .about_info .info_paragraph {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.about_container .about_info .info_paragraph h2 {
  padding-bottom: 10%;
  font-size: 28px;
}
.about_container .about_info .info_paragraph p {
  font-size: 18px;
}
.about_container .about_info .pic {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_container .about_info .pic .chef {
  background-image: url("../img/user.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.document_container {
  width: 100%;
  height: 120vh;
  background-color: #ffecb3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d9c998' fill-opacity='0.6'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.5'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}
.document_container h1 {
  text-align: center;
}
.document_container .title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: black;
  padding-bottom: 1.5%;
}
.document_container .sd1 {
  height: 50vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.document_container .sd1 h1 {
  padding-top: 2%;
}
.document_container .sd1 h3 {
  font-family: "Raleway", sans-serif;
}
.document_container .sd1 .doc_grid {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.document_container .sd1 .doc_grid .docs {
  display: grid;
  grid-template-rows: 0.7fr 1fr;
  grid-row-gap: 2%;
  margin: 0 auto;
  border-radius: 25px;
  width: 85%;
  height: 100%;
  text-align: center;
  border: 1px solid black;
  background: #fafafa;
  -webkit-box-shadow: 1px 7px 16px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 7px 16px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 7px 16px -9px rgba(0, 0, 0, 0.75);
}
.document_container .sd1 .doc_grid .docs h3 {
  padding-top: 2%;
}
.document_container .sd1 .doc_grid .docs i {
  color: red;
}
.document_container .sd2 {
  height: 50vh;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.document_container .sd2 h1 {
  padding-top: 3.5%;
}
.document_container .sd2 h3 {
  font-family: "Raleway", sans-serif;
}
.document_container .sd2 .doc_grid {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.document_container .sd2 .doc_grid .docs {
  display: grid;
  grid-template-rows: 0.7fr 1fr;
  grid-row-gap: 2%;
  margin: 0 auto;
  border-radius: 25px;
  width: 85%;
  height: 100%;
  text-align: center;
  border: 1px solid black;
  background: #fafafa;
  -webkit-box-shadow: 1px 7px 16px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 7px 16px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 7px 16px -9px rgba(0, 0, 0, 0.75);
}
.document_container .sd2 .doc_grid .docs h3 {
  padding-top: 2%;
}
.document_container .sd2 .doc_grid .docs i {
  color: red;
}

.members_container {
  width: 100%;
  height: 60vh;
  background-color: #00b7ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='385' height='320.8' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.09'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}
.members_container h1 {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3%;
  font-family: "Montserrat", sans-serif;
  color: #fafafa;
}
.members_container .mem_grid {
  width: 100%;
  height: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
}
.members_container .mem_grid .user {
  display: grid;
  grid-template-rows: 0.3fr 1fr;
}
.members_container .mem_grid .user h2 {
  padding-top: 2%;
  padding-bottom: 5%;
  font-family: "Montserrat", sans-serif;
}
.members_container .mem_grid .user p {
  text-align: center;
  padding-right: 1%;
  padding-left: 1%;
}
.members_container .mem_grid div {
  margin: 0 auto;
  border-radius: 25px;
  width: 80%;
  height: 80%;
  text-align: center;
  border: 1px solid black;
  background: #fafafa;
  -webkit-box-shadow: 1px 7px 16px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 7px 16px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 7px 16px -9px rgba(0, 0, 0, 0.75);
}

footer {
  height: 30vh;
  width: 100%;
  background-color: #26a69a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
}
footer h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #fafafa;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 25px;
}
footer .footer_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
footer .footer_grid a {
  text-align: center;
  text-decoration: none;
}
footer .footer_grid i {
  padding-left: 2%;
  color: whitesmoke;
}

/*# sourceMappingURL=index.css.map */
